
button{
    padding: 8px 32px;
    border-radius: 20px;
    border-color: transparent;
    transition: 0.5s;
}
button:hover{
    background-color: rgb(199, 199, 255);
    
    transform: scale(1.1)
}